{% extends 'base.html' %}
{% block head %}
<meta http-equiv="refresh" content="2; url=/player/{{ mystatus['name'] }}">
<title>Player {{mystatus['name']}}</title>
<style>
</style>
{% endblock %}

{% block body %}
<div class="container" >
<h1>{{ mystatus['name'] }},
  {% if mystatus['dealer'] == mystatus['name'] %} you are the dealer
  {% else %} the dealer is {{mystatus['dealer']}} {% endif %}
</h1>
{{ mystatus['message'] }}

<table width="700">
  <tr>
    <th>Hole</th>

    <th>Flop</th>
    <th>Turn</th>
    <th>River</th>
  </tr>

  <tr height="100">
    <td><span class="card {{ mystatus['suits'][0] }}"> {{ mystatus['hole'][0] }}</span>
      <span class="card {{ mystatus['suits'][1] }}">{{ mystatus['hole'][1] }}</span></td>

    <td> <span class="card {{ mystatus['suits'][2] }}">{{ mystatus['flop'][0] }}</span>
      <span class="card {{ mystatus['suits'][3] }}">{{ mystatus['flop'][1] }}</span>
      <span class="card {{ mystatus['suits'][4] }}">{{ mystatus['flop'][2] }}</td></span>
      <td> <span class="card {{ mystatus['suits'][5] }}">{{ mystatus['turn'] }}</span></td>
      <td><span class="card {{ mystatus['suits'][6] }}">{{ mystatus['river'] }}</span></td>
  </tr>
  <tr>
    <td colspan="2" align="left">
{% if mystatus['dealer'] == mystatus['name'] %}
<h2>
  <a href="/deal/{{mystatus['name']}}" class="button">{{mystatus['phase']}} </a>
</h2>
{% endif %}
    </td>
    <td colspan="2" align="right"> <h2>
      <a href="/admin/{{mystatus['name']}}" class="button bluebutton"> Admin </a>
    </h2>
    </td>
  </tr>
</table>

  <h2>Registerd players</h2>
  {% if players %}
  <ul class="nobul">
    {% for player in players %}
    <li>{{player}}</li>
    {% endfor %}
  </ul>
  {% endif %}

</div>
{% endblock %}
